/* базовые стили */
* {
  box-sizing: border-box;
}
:root {
  --green: #899770;
  --black: #252525;
}
body {
  background-color: white;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
h1 {
  font-family: 'TT Barrels', sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
}
h2,
blockquote,
header a {
  font-family: 'TT Commons Pro', sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 1.4;
  /* font-weight: 300; */
}
blockquote {
  font-size: 1.6vw;

  position: relative;
}
blockquote::before {
  content: '\201e';
  font-size: 6vw;
  position: absolute;
  top: -8vw;
}
blockquote + p {
  text-align: right;
  padding-bottom: 1.6vw;
}
h3 {
  font-family: 'TT Commons Pro', sans-serif;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--green);
  font-size: 1vw;
}
h4 {
  font-family: 'TT Commons Pro', sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 300;
}
p,
a {
  font-family: 'TT Commons Pro', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  color: var(--black);
  font-size: 1.4vw;
}

/* главная */
header {
  display: flex;
  flex-direction: column;
  /* border-bottom: 2px solid var(--black); */
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--black);
}
.logo {
  width: 10%;
  padding: 1vw;
  border-right: 2px solid var(--black);
}
.logo-picture {
  width: 100%;
}
nav {
  display: flex;
  width: 70%;
  gap: 10%;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  transition: color ease 0.4s;
}
nav a:hover {
  color: var(--green);
  transition: color ease 0.6s;
}
.wrapper {
  padding-top: 1%;
  padding-bottom: 2%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  margin-left: 2.43%;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #fafafa;
  overflow-y: scroll;
  overflow-x: hidden;
}
.marquee {
  width: 110%;
  overflow: hidden;
}
.marquee h1 {
  white-space: nowrap;
  width: 100%;
  font-family: 'TT Barrels';
  font-size: 1.6vw;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
}
.marquee div {
  display: flex;
  width: 200%;
  animation: marquee 30s linear infinite;
}

/* фотоальбом */
.main {
  border: 2px solid var(--black);
}
.page {
  display: flex;
  border-bottom: 2px solid var(--black);
}
.left-page,
.right-page {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  gap: 1vw;
}
.left-page {
  border-right: 2px solid var(--black);
}
.left-page.many {
  flex-direction: row;
}
.left-page.many img {
  width: 49%;
}
.right-page {
  gap: 6vw;
}
.page img {
  width: 90%;
}
.page h3,
.page p {
  width: 100%;
}

/* москва-париж */
.swiper {
  height: 100%;
  width: 100%;
  overflow: scroll;
}
#moskva .page {
  flex-direction: column;
  border: none;
}
#moskva .left-page,
.right-page {
  width: 100%;
  border: none;
}
.swiper-pagination,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  position: fixed !important;
  padding: 0 1vw !important;
  filter: grayscale(1);
}
.swiper-pagination {
  bottom: 1px !important;
}
#moskva .page {
  border-right: 2px solid var(--black);
  height: 135%;
}
.none {
  display: none;
}
#moskva img {
  position: relative;
}
#moskva img:hover + img {
  width: 90%;
  display: block;
  position: absolute;
  z-index: 99999 !important;
  transform: translate3d(0px, 0, 0);
}
.hide-image1 {
  left: 14%;
  top: 20%;
}

/* перечень публикаций */
#works section,
#exhibitions section {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;

  align-items: center;
}
#works section,
.section-title {
  justify-content: center;
}
.bg-image {
  transition: opacity ease 0.4s;
  background-image: url('../images/blue-gold.webp');
  /* overflow: hidden;
  filter: blur(2px); */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#exhibitions .bg-image {
  opacity: 1;
}
#works section:nth-of-type(1),
#exhibitions section:nth-of-type(1) {
  border-right: 2px solid var(--black);
}
#works section:hover .bg-image {
  transition: opacity ease 0.8s;
  opacity: 1;
}
#works section:hover h2 {
  color: white;
}
#exhibitions section h2 {
  color: white;
}
section h2 {
  position: relative;
  z-index: 2;
}
#works main,
#exhibitions main {
  display: flex;
  height: calc(100% - 80px);
}
.exhibitions {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.exhibitions .right-page {
  border-bottom: 2px solid var(--black);
}
section a {
  text-decoration: none;
}
a.right-page {
  transition: all ease 0.4s;
}
a.right-page:hover {
  transition: all ease 0.6s;
  background-color: rgb(172, 205, 251);
}
