/* базовые стили */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --green: #899770;
  --black: #421b00;
  --mainBG: #fef8f6;
  --seconaryBG: #e7deda;
}
body {
  background-color: var(--seconaryBG);
  padding: 1vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
h1 {
  font-family: 'TT Barrels', sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 4vw;
}
h2,
blockquote,
header a,
.grid a {
  font-family: 'TT Commons Pro', sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 1.4vw;
  /* font-weight: 300; */
}
blockquote {
  font-size: 1.6vw;

  position: relative;
}
blockquote::before {
  content: '\201e';
  font-size: 6vw;
  position: absolute;
  top: -8vw;
}
blockquote + p {
  text-align: right;
  padding-bottom: 1.6vw;
}
h3 {
  font-family: 'TT Commons Pro', sans-serif;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--green);
  font-size: 1vw;
}
h4 {
  font-family: 'TT Commons Pro', sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 300;
}
p,
a {
  font-family: 'TT Commons Pro', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  color: var(--black);
  font-size: 1.4vw;
}

/* главная */
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 10%;
  padding: 1vw;
}
.logo-picture {
  width: 100%;
}
.wrapper {
  padding-top: 1%;
  padding-bottom: 2%;
  width: 100%;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  margin-left: 2.43%;
  border-radius: 20px;
  /* background-color: var(--mainBG); */
  background-image: url('../images/index/texture.png');
  background-size: contain;
  overflow-y: scroll;
  overflow-x: hidden;
}
.marquee {
  width: 110%;
  overflow: hidden;
}
.marquee h1 {
  white-space: nowrap;
  width: 100%;
  font-family: 'TT Barrels';
  font-size: 1.6vw;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
}
.marquee div {
  display: flex;
  width: 200%;
  animation: marquee 30s linear infinite;
}
#cross {
  width: 6vw;
  height: 6vw;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 4vw;
  right: 2vw;
}
#cross::after,
#cross::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--mainBG);
  transition: all ease 0.3s;
}
#cross::after {
  transform: rotate(45deg);
}
#cross::before {
  transform: rotate(-45deg);
}
#overlay {
  scroll-behavior: smooth;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display: none;
  overflow: hidden;
}
#overlay > section {
  display: none;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: var(--mainBG);
  flex-direction: column;
  gap: 1vw;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2vw;
}
.btn {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1vw; */
}
.btn img {
  width: 90%;
}
.btn h2 {
  width: 146%;
  text-align: center;
  color: var(--mainBG);
  font-size: 1.2vw;
}
.btn.gogen {
  width: 13.5vw;
  top: 34vw;
  left: 32vw;
}
.btn.urlov {
  width: 15.9vw;
  top: 3.375vw;
  left: 73.82vw;
}
.btn.urlov2 {
  width: 16.32vw;
  top: 14.04vw;
  left: 71.65vw;
}
.btn.bruskin {
  width: 13.2vw;
  top: 34.375vw;
  left: 75.4vw;
}
.btn.taiti {
  width: 9.2vw;
  top: 40vw;
  left: 54vw;
}
.btn.photobook {
  width: 20.76vw;
  top: 10.5vw;
  left: 37.5vw;
}
.btn.beuys {
  width: 12.34vw;
  top: 2.03vw;
  left: 52vw;
}
.btn.mondrian {
  width: 11.8vw;
  top: 22.75vw;
  left: 20vw;
}
.btn.works {
  width: 14vw;
  top: 35vw;
  left: 6.22vw;
}
.btn.moscou-paris {
  width: 12.2vw;
  top: 3.22vw;
  left: 16.73vw;
}
.btn.gogen h2 {
  transform: rotate(353deg) translate(1vw, -0.2vw);
}
.btn.urlov2 h2 {
  transform: rotate(16deg) translate(-2vw, -0.8vw);
}
.btn.bruskin h2 {
  transform: rotate(12deg) translate(-2vw, -0.4vw);
}
.btn.taiti h2 {
  transform: rotate(8deg) translate(-1vw, -0vw);
}
.btn.photobook h2 {
  transform: rotate(353deg) translate(1.3vw, -0.6vw);
}
.btn.beuys h2 {
  transform: rotate(9deg) translate(-1.2vw, -0.8vw);
}
.btn.mondrian h2 {
  transform: rotate(354deg) translate(1vw, -0vw);
}
.btn.works h2 {
  transform: rotate(355deg) translate(1vw, -0.3vw);
}
.btn.moscou-paris h2 {
  transform: rotate(24deg) translateX(-3vw);
}
.btn.gogen img {
  width: 140%;
}

/* фотоальбом */
.main {
  border: 4px solid var(--black);
}
.page {
  display: flex;
  padding: 2vw 0;
  gap: 4vw;
}
.left-page,
.right-page {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  position: relative;
}
.left-page.many {
  flex-direction: row;
}
.left-page.many img {
  width: 49%;
}
.right-page {
  gap: 2vw;
}
.right-page p + blockquote,
.right-page h3 + blockquote {
  margin-top: 4vw;
}
.page img {
  width: 100%;
}
.page h3,
.page p {
  width: 100%;
}

/* москва-париж */
.swiper {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

/* перечень публикаций */
.article,
.exhibition {
  width: 80%;
  gap: 2vw;
  /* border-bottom: 2px solid var(--black); */
  align-items: flex-start;
}
.article,
.exhibition {
  flex-direction: row;
  position: relative;
}
.article:nth-of-type(1),
.exhibition:nth-of-type(1) {
  margin-top: 4vw;
}
.article p,
.exhibition p {
  padding: 2.4vw 2vw 2vw;
  border-radius: 10px;
  border: 2px solid var(--black);
}
.article h3,
.exhibition h3 {
  font-size: 2vw;
  width: fit-content;
  padding: 1vw;
  position: absolute;
  top: -2.2vw;
  left: 2vw;
  background-color: var(--seconaryBG);
}
#works section {
  display: flex;
  flex-direction: column;
  gap: 6vw;
  padding: 2vw;
}
#works {
  gap: 0 !important;
  padding: 0 !important;
}
#works h1 {
  padding: 2vw;
}

.bg-image {
  transition: opacity ease 0.4s;
  background-image: url('../images/blue-gold.webp');
  /* overflow: hidden;
  filter: blur(4px); */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#works nav {
  padding: 0 6vw;
  display: flex;
  justify-content: flex-start;
  gap: 6vw;
}
#works nav h2 {
  cursor: pointer;
  position: relative;
  z-index: 3;
  width: 14vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
#works nav h2::before {
  content: '';
  border-bottom: 6vw solid var(--seconaryBG);
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  width: 100%;
}
#works nav h2.visible::before {
  border-bottom: 6vw solid #f2edea;
}
#works nav h2.visible {
  display: flex !important;
  z-index: 0;
}
/* #works nav h2.active::before {
  content: '';
  border-bottom: 6vw solid var(--seconaryBG);
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
} */

section h2 {
  position: relative;
  z-index: 2;
}

section a {
  text-decoration: none;
}

/* главная */
#index main {
  height: 100%;
}
/* .grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 6%;
} */
/* .grid > div {
  width: 15%;
}
.grid img {
  width: 100%;
} */

.propusk-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/moskva-parizh/propusk.jpg');
  width: 10%;
  height: 100%;
  transition: all ease 0.6s;
  cursor: pointer;
  background-position: right;
  animation: anim1 6s linear infinite;
}
.left-page.propusk-anim {
  align-items: flex-start;
}
.propusk-image.animation {
  width: 335%;
  transition: all ease 0.6s;
  animation: paused;
}
.propusk-text {
  display: none;
  transition: all ease 0.6s;
  padding: 6vw 2vw;
  cursor: pointer;
}
.propusk-text.animation {
  display: block;
  transition: all ease 0.6s;
  background-color: var(--seconaryBG);
}
.propusk {
  position: relative;
  z-index: 2;
  width: 212%;
  height: 100%;
  display: flex;
}
.beuys1 {
  background-image: url('../images/arts/beuys1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 50vw;
  cursor: pointer;
  padding: 25vw 0;
}
.none {
  display: none !important;
}
.visible {
  width: 100%;
  display: block !important;
  position: absolute;
  z-index: 10;
  left: 0%;
  top: 0%;
}
.articles,
.exhibitions {
  background-color: var(--seconaryBG);
}
.bruskins {
  display: flex;
  justify-content: space-between;
}
.bruskins img:nth-of-type(1) {
  width: 70%;
}
.bruskins img:nth-of-type(2) {
  width: 29%;
}
#mondrian img.active {
  transform: scale(1);
  transition: transform ease 0.6s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
#mondrian img {
  cursor: pointer;
  transition: transform ease 0.3s;
}
#mondrian {
  position: relative;
}
#mondrian .left-page,
#mondrian .right-page {
  position: unset;
}
#mondrian .page {
  position: relative;
  width: 100%;
}
